body {
    background-image: url("./res/images/station.jpg");
    background-size: cover;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border-radius: 15px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    background-color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: grey;
    color: white;
}

#inc_count {
    background-color: green;

}

#res_count {
    background-color: red;
}